
#container {
    display: grid;
    grid-template-columns: auto auto auto auto;

    padding: 5%;
    background-color: antiquewhite;
}


.div-class {
    height: 200px;
    width: 200px;
    border: 1px solid;
}

.round-div{
    border-radius: 50%;
    background-color: rebeccapurple;
}